:root {
  /* Light mode variables */
  --primary-color: rgb(20, 23, 33);
  --secondary-color: #3e404b;
  --accent-color: #fa541c;
  --text-primary: #e8e8e8;
  --text-secondary: #afafaf;
  --background-color: rgb(43, 47, 60); /* for chat wrapper */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode variables */
    --primary-color: rgb(13, 17, 23);
    --secondary-color: #282c34;
    --accent-color: #fa541c;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --background-color: #20232a; /* for chat wrapper */
  }
}

body {
  background: url('./assets/valley.jpeg') no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(75deg, var(--primary-color) 0%, var(--primary-color) 50%, rgba(20, 23, 33, 0.8) 100%);
  display: flex;
  align-items: center; /* Replaces table-cell vertical alignment */
  justify-content: center; /* Horizontally center content */
}

.form-card {
  width: 90%; /* Better for responsiveness */
  max-width: 350px;
  margin: 0 auto; /* Centering the card */
}

.form-title, .form-subtitle {
  font-family: var(--font-family), sans-serif;
  letter-spacing: 0.5px;
}

.form-title {
  font-size: 2.625rem; /* 42px in rem */
  font-weight: 800;
  padding-bottom: 12px;
  color: var(--text-primary);
}

.form-subtitle {
  font-size: 1.125rem; /* 18px in rem */
  color: var(--text-secondary);
  padding-bottom: 24px;
}

.auth {
  position: relative;
  width: 100%;
  padding-bottom: 12px;
}

.auth-label {
  position: absolute;
  top: 8px;
  left: 18px;
  font-size: 0.6875rem; /* 11px in rem */
  color: var(--text-secondary);
  font-family: var(--font-family), sans-serif;
  width: 100px;
}

.auth-input {
  background-color: var(--secondary-color);
  color: white;
  font-family: var(--font-family), sans-serif;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 24px 18px 12px;
  width: 100%;
  box-sizing: border-box; /* Includes padding in width */
  margin-bottom: 12px;
}

.auth-button {
  width: 100%;
  height: 53px;
  color: white;
  background-color: var(--accent-color);
  border: none;
  border-radius: 8px;
  font-family: var(--font-family), sans-serif;
  cursor: pointer;
  transition: filter 0.44s ease;
}

.auth-button:hover {
  filter: brightness(145%);
}

.chat-wrapper {
  height: 80vh;
  width: 80%;
  margin: 0 auto; /* Centering the chat wrapper */
  color: white;
  background: var(--background-color);
}
